<template>
    <div class="wrapper">
        <dashboard-component columns="6" rows="3">
            <environment-component></environment-component>
            <member-component></member-component>
            <weather-component :weather-city="weatherCity"></weather-component>
            <spotify-component v-once></spotify-component>

            <div class="tile upcoming-events">Upcoming</div>

            <jenkins-component></jenkins-component>

        </dashboard-component>
    </div>
</template>
<script src="./dashboard-components.ts"></script>