<style src="./member.css"></style>

<template>
    <div class="team-today">
        <div class="tile" >
            <div class="member-info">
                <!-- <img src="../../../wwwroot/images/prof1.jpg" /> -->
                <span>
                    Hafiz Abass
                </span>
            </div>
            <div class="member-todo">
                <ul class="list-group">
                    <li class="list-item">
                    </li>
                </ul>
                
            </div>
        </div>        

    </div>
</template>

<script src="./member.ts"></script>